{% extends 'shop/basic.html' %}

{% block title%} Contact Us - My Awesome Cart{% endblock %}
{% block body %}
<div class="container">
    <h3>Contact Us</h3>
    <form action="/shop/contact/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Enter your name" name="name">
        </div>
         <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
        </div>
        <div class="form-group">
            <label for="name">phone</label>
            <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" name="phone">
        </div>
        <div class="form-group">
            <label for="desc">how may we help you?</label>
            <textarea type="desc" class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button type="submit" class="btn btn-success" >Submit</button>
    </form>
</div>


{% endblock %}
{% block js %}
<script>
{% if thank %}
alert('Thank You for contacting us our team sortly contact to you!');
document.location = "/shop/contact";
{% endif %}
</script>
{% endblock %}